@import-normalize;

html {
  line-height: 1.5;
}

body {
  height: 100vh;
  background: #FFC72A;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageWrap {
  height: 100vh;
}

.page {
  max-width: 50rem;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
}

.centered {
  justify-content: center;
  align-items: center;
  margin: 0 1.5em;
}
